# 2. DESCRIBE

**In this notebook we will** 
   >1) Read Data and do basic describtion of data<br>
   >2) Explore the raw data<br>
   >3) Process data for Exploratory Data Analysis<br>

## 2.1 Load modules ----------

In [1]:
#import packages

import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
#set path of the root directory

cd C:\Users\Jo's\Documents\DSDJ\Portfollio.mod4.5\S1\

C:\Users\Jo's\Documents\DSDJ\Portfollio.mod4.5\S1

In [3]:
# add the scripts directory to the python path, or the set of places the python interpreter looks for code files
import sys
sys.path.insert(0, './scripts/')

# now read in the functions
from make_dataset import read_data

## 2.3 Read Data ----------

In [4]:
!pwd

/c/Users/Jo's/Documents/DSDJ/Portfollio.mod4.5/S1

In [5]:
!ls -lh data/unzipped_data/data/

total 132M
-rw-r--r-- 1 Jo's 197121 56M Oct  8  2016 test_features.csv
-rw-r--r-- 1 Jo's 197121 56M Oct  8  2016 train_features.csv
-rw-r--r-- 1 Jo's 197121 20M Oct  8  2016 train_salaries.csv

In [6]:
#load the data into a Pandas dataframe
path="C:/Users/Jo's/Documents/DSDJ/Portfollio.mod4.5/S1/data/unzipped_data/data"
files = ['train_features.csv', 'train_salaries.csv']

train_features = read_data(path , files[0])

********** Reading in  train_features.csv **********

 train_features.csv has 1000000 rows and 8 columns

 ********** train_features.csv has the following columns **********
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 8 columns):
jobId                  1000000 non-null object
companyId              1000000 non-null object
jobType                1000000 non-null object
degree                 1000000 non-null object
major                  1000000 non-null object
industry               1000000 non-null object
yearsExperience        1000000 non-null int64
milesFromMetropolis    1000000 non-null int64
dtypes: int64(2), object(6)
memory usage: 61.0+ MB


 None

 ******************************

 The first five rows of data looks like this...

              jobId companyId         jobType       degree      major  \
0  JOB1362684407687    COMP37             CFO      MASTERS       MATH
1  JOB1362684407688    COMP19             CEO  HIGH_SCHOOL       NONE
2  JOB1362684407689    COMP52  VICE_PRESIDENT     DOCTORAL    PHYSICS
3  JOB1362684407690    COMP38         MANAGER     DOCTORAL  CHEMISTRY
4  JOB1362684407691     COMP7  VICE_PRESIDENT    BACHELORS    PHYSICS

  industry  yearsExperience  milesFromMetropolis
0   HEALTH               10                   83
1      WEB                3                   73
2   HEALTH               10                   38
3     AUTO                8                   17
4  FINANCE                8                   16

In [7]:
train_salaries = read_data(path , files[1])

********** Reading in  train_salaries.csv **********

 train_salaries.csv has 1000000 rows and 2 columns

 ********** train_salaries.csv has the following columns **********
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 2 columns):
jobId     1000000 non-null object
salary    1000000 non-null int64
dtypes: int64(1), object(1)
memory usage: 15.3+ MB


 None

 ******************************

 The first five rows of data looks like this...

              jobId  salary
0  JOB1362684407687     130
1  JOB1362684407688     101
2  JOB1362684407689     137
3  JOB1362684407690     142
4  JOB1362684407691     163

## 2.3 Explore Raw Data -----------

In [8]:
#to check the number of unique jobIDs in train_features
print(train_features.jobId.nunique())

1000000

In [9]:
##to check the number of unique jobIDs in train_salaries
print(train_salaries.jobId.nunique())

1000000

In [10]:
#check if both the jobIDs are same 
print((train_features.jobId==train_salaries.jobId).sum())

1000000

#### ---------- Observation ----------
>jobIds are unique and same on both datasets.So we can merge them for further analysis

## 2.4 Prepare Data ---------------

In [11]:
#   Merging the feature df and target df for further exploration.
train_data=pd.merge(train_features,train_salaries,on="jobId")
print("Shape of train dataframe",train_data.shape,"\n")
train_data.head()

Shape of train dataframe (1000000, 9)

,jobId,companyId,jobType,degree,major,industry,yearsExperience,milesFromMetropolis,salary
0,JOB1362684407687,COMP37,CFO,MASTERS,MATH,HEALTH,10,83,130
1,JOB1362684407688,COMP19,CEO,HIGH_SCHOOL,NONE,WEB,3,73,101
2,JOB1362684407689,COMP52,VICE_PRESIDENT,DOCTORAL,PHYSICS,HEALTH,10,38,137
3,JOB1362684407690,COMP38,MANAGER,DOCTORAL,CHEMISTRY,AUTO,8,17,142
4,JOB1362684407691,COMP7,VICE_PRESIDENT,BACHELORS,PHYSICS,FINANCE,8,16,163

In [13]:
# dropping jobId as it is unique and of no use for analysis

train_data.drop("jobId",axis=1,inplace=True)

In [14]:
del train_features
del train_salaries

In [15]:
# make a directory to hold our derived datasets
# for data exploration notebook 

!mkdir "data/derived_data"

In [17]:
# write out the training data to csv so we can load it into the next notebook

train_data.to_csv('data/derived_data/train_data.csv', index=False)